# Domain options
# DEV: 
# core: https://dev.getunblock.com 
# fiat-connect: https://dev.getunblock.com/fiat-connect/
# STAGING: 
# core: https://sandbox.getunblock.com
# fiat-connect: https://sandbox.getunblock.com/fiat-connect
# Prod: 
# core: https://getunblock.com
# fiat-connect: https://getunblock.com/fiat-connect
REACT_APP_DOMAIN_URL= <domain_url>
# Chains avaiable: 
# Celo Mainet and Alfajores Testnet
# Polygon Mainet and Mumbai Tesnet
REACT_APP_CHAIN_ID=<chain_id>